<p>Hi <%= username %></p>
<p>
  Please click on the following link <a href="<%= link %>">reset</a> to reset
  your password.
</p>

<p>
  If you did not request this, please ignore this email and your password will
  remain unchanged.
</p>
